@use "../abstracts/variables";

@mixin section-title($direction: row) {
  font-family: variables.$raleway;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: $direction;
  align-items: center;
  gap: 10px;
  align-self: flex-start;

  @media (min-width: 1024px) {
    font-size: 1rem;
  }

  @media (min-width: 1500px) {
    font-size: 1.2rem;
  }
}
