@use "../abstracts/variables";

@mixin text--large() {
  font-size: 1.4rem;
  font-family: variables.$raleway;

  @media (min-width: 1024px) {
    font-size: 2rem;
  }

  @media (min-width: 1500px) {
    font-size: 2.8rem;
  }
}

@mixin text--small() {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: variables.$inconsolata;
  font-weight: bold;

  @media (min-width: 1024px) {
    font-size: 0.75rem;
    line-height: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 0.8rem;
  }

  @media (min-width: 1280px) {
    font-size: 1rem;
    line-height: 25px;
  }
}
