* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn--dark {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: white;
  font-size: 0.7rem;
  background-color: black;
  border: 1px solid black;
  padding: 7px 15px;
}
@media (min-width: 640px) {
  .btn--dark {
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  .btn--dark {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
  .btn--dark:hover {
    background-color: white;
    color: black;
  }
}
@media (min-width: 1280px) {
  .btn--dark {
    font-size: 1rem;
  }
}
@media (min-width: 1500px) {
  .btn--dark {
    font-size: 1.11rem;
  }
}

.btn--light {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: black;
  font-size: 0.7rem;
  border: 1px solid;
  padding: 7px 15px;
}
@media (min-width: 640px) {
  .btn--light {
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  .btn--light {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
  .btn--light:hover {
    background-color: black;
    color: white;
  }
}
@media (min-width: 1280px) {
  .btn--light {
    font-size: 1rem;
  }
}
@media (min-width: 1500px) {
  .btn--light {
    font-size: 1.11rem;
  }
}

.text--large {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}
@media (min-width: 1024px) {
  .text--large {
    font-size: 2rem;
  }
}
@media (min-width: 1500px) {
  .text--large {
    font-size: 2.8rem;
  }
}

.text--small {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .text--small {
    font-size: 0.75rem;
    line-height: 18px;
  }
}
@media (min-width: 1200px) {
  .text--small {
    font-size: 0.8rem;
  }
}
@media (min-width: 1280px) {
  .text--small {
    font-size: 1rem;
    line-height: 25px;
  }
}

.anchor--primary {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: black;
}
.anchor--primary:hover {
  border-bottom: 3px solid black;
}

.header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  padding: 15px 0;
  z-index: 10;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.header-navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transform: translateX(-100%);
  z-index: 1;
}
.header-navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.header-navigation__anchor {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  color: black;
  font-size: 1.3rem;
}

.header-burger-icon,
.header-logo {
  position: relative;
  z-index: 1;
}

.header-burger-icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.header-burger-icon__line {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  right: 0;
}
.header-burger-icon__top-line {
  top: 8px;
}
.header-burger-icon__top-line--active {
  animation: top-line-forwards 0.2s forwards;
}
.header-burger-icon__top-line--nonactive {
  animation: top-line-backwards 0.2s forwards;
}
@keyframes top-line-forwards {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(250%) rotate(48deg);
  }
}
@keyframes top-line-backwards {
  from {
    transform: translateY(250%) rotate(48deg);
  }
  to {
    transform: translateY(0) rotate(0deg);
  }
}
.header-burger-icon__middle-line {
  width: 80%;
  top: 15px;
}
.header-burger-icon__middle-line--active {
  animation: middle-line-forward 0.2s forwards;
}
.header-burger-icon__middle-line--nonactive {
  animation: middle-line-backward 0.2s forwards;
}
@keyframes middle-line-forward {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes middle-line-backward {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.header-burger-icon__bottom-line {
  width: 50%;
  top: 22px;
}
.header-burger-icon__bottom-line--active {
  animation: bottom-line-forward 0.2s forwards;
}
.header-burger-icon__bottom-line--nonactive {
  animation: bottom-line-backward 0.2s alternate;
}
@keyframes bottom-line-forward {
  from {
    transform: translateY(0);
    width: 50%;
  }
  to {
    transform: translateY(-230%) rotate(-48deg);
    width: 100%;
  }
}
@keyframes bottom-line-backward {
  from {
    transform: translateY(-230%) rotate(-48deg);
    width: 100%;
  }
  to {
    transform: translateY(0) rotate(0deg);
    width: 50%;
  }
}

@media (min-width: 640px) {
  .header-navigation {
    width: 50%;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.193);
  }
}
@media (min-width: 640px) and (max-width: 768px) and (orientation: landscape) {
  .header-navigation {
    width: 100%;
    box-shadow: none;
  }
  .header-navigation__list {
    flex-direction: row;
  }
}
@media (min-width: 828px) {
  .header-navigation {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 30px 0;
  }
  .header-burger-icon {
    display: none;
  }
  .header-navigation {
    position: static;
    top: auto;
    left: auto;
    height: auto;
    width: 100%;
    background-color: transparent;
    flex-direction: row;
    gap: 0;
    box-shadow: none;
    transform: none;
  }
  .header-navigation__list {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-left: auto;
  }
  .header-navigation__anchor {
    font-size: 1rem;
  }
  .header-navigation-btn {
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .header-navigation__list {
    gap: 40px;
  }
}
@media (min-width: 1500px) {
  .header-navigation__list {
    gap: 50px;
  }
  .header-navigation__anchor {
    font-size: 1.2rem;
  }
  .header-logo {
    width: 80px;
  }
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}

.home-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.home-text__heading {
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
}
.home-text__headline {
  width: 95%;
}

@media (min-width: 640px) {
  .home-text {
    gap: 20px;
    max-width: 576px;
  }
  .home-text__heading {
    font-size: 2.5rem;
  }
  .home-text__headline {
    font-size: 0.9rem;
    line-height: 20px;
  }
  .home-image {
    max-width: 640px;
  }
}
@media (min-width: 828px) {
  .home {
    flex-direction: row;
    width: 95%;
    margin: 100px 0 0 auto;
  }
  .home-text {
    max-width: none;
    transform: translateX(-10px);
    opacity: 0;
    animation: enter-from-left 0.5s 0.5s ease-in-out forwards;
  }
  .home-text__heading {
    font-size: 2rem;
  }
  .home-text__headline {
    width: auto;
    font-size: 0.75rem;
    line-height: 18px;
  }
  @keyframes enter-from-left {
    from {
      transform: translateX(-10px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .home-image {
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .home-image {
    max-width: 550px;
  }
  .home-text {
    gap: 30px;
  }
  .home-text__heading {
    font-size: 2.3rem;
  }
  .home-text__headline {
    font-size: 0.75rem;
    width: 85%;
  }
  .header-navigation {
    transform: translateX(0);
  }
}
@media (min-width: 1200px) {
  .home {
    width: 93%;
    margin-top: 150px;
  }
  .home-image {
    max-width: 640px;
  }
  .home-text__heading {
    font-size: 2.55rem;
  }
  .home-text__headline {
    font-size: 0.8rem;
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .home-image {
    max-width: 680px;
  }
  .home-text__heading {
    font-size: 2.8rem;
  }
  .home-text__headline {
    font-size: 0.9rem;
    width: 80%;
  }
}
@media (min-width: 1600px) {
  .home {
    width: 95%;
  }
  .home-text {
    width: 75%;
  }
  .home-text__heading {
    font-size: 3.5rem;
  }
  .home-text__headline {
    font-size: 1rem;
    line-height: 20px;
  }
  .home-image {
    max-width: 1200px;
  }
}
.sponsors {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sponsors-heading {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.sponsors-slider {
  width: 100%;
  overflow-x: hidden;
}

.sponsors-slider__track {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  animation: infinite-scroll-1 10s infinite linear;
}

@keyframes infinite-scroll-1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-660px);
  }
}
.sponsors-slider__image {
  height: 80px;
  width: 100px;
  object-fit: contain;
  object-position: center;
}

@media (min-width: 737px) {
  .sponsors {
    margin-left: auto;
  }
  .sponsors-slider__track {
    gap: 50px;
    animation: infinite-scroll-2 10s infinite linear;
  }
  @keyframes infinite-scroll-2 {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-900.125px);
    }
  }
}
@media (min-width: 828px) {
  .sponsors {
    flex-direction: row;
    width: 95%;
    margin-top: 100px;
  }
}
@media (min-width: 1126px) {
  .sponsors-slider__image {
    width: 200px;
  }
  .sponsors-slider__track {
    animation: infinite-scroll-3 10s infinite linear;
  }
  @keyframes infinite-scroll-3 {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-1500.125px);
    }
  }
}
@media (min-width: 1280px) {
  .sponsors-heading {
    font-size: 1.5rem;
  }
}
@media (min-width: 1600px) {
  .sponsors-heading {
    font-size: 1.8rem;
  }
}
.about-us {
  margin: 80px auto 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-us-visuals {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 90%;
  height: 200px;
  position: relative;
  margin: 0 auto;
}
.about-us-visuals__item {
  width: 200px;
}
.about-us-visuals__item:nth-of-type(2) {
  height: 75%;
}

.about-us-visuals-stats {
  position: absolute;
  bottom: -25px;
  right: -15px;
  height: 50px;
  width: 250px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.about-us-visuals-stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
.about-us-visuals-stats__item:not(.about-us-visuals-stats__item:nth-of-type(3)) {
  border-right: 1px solid;
}
.about-us-visuals-stats__stat {
  font-size: 1.3rem;
  font-weight: bold;
}
.about-us-visuals-stats__category {
  font-size: 0.75rem;
  font-weight: 600;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}
.about-us-text-section-name {
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
}
@media (min-width: 1024px) {
  .about-us-text-section-name {
    font-size: 1rem;
  }
}
@media (min-width: 1500px) {
  .about-us-text-section-name {
    font-size: 1.2rem;
  }
}

@media (min-width: 375px) {
  .about-us {
    max-width: 375px;
  }
  .about-us-visuals {
    height: 250px;
  }
  .about-us-visuals-stats {
    right: 0;
    bottom: -15px;
    width: 270px;
  }
}
@media (min-width: 500px) {
  .about-us {
    max-width: 490px;
    margin-bottom: 20px;
  }
  .about-us-visuals {
    height: 300px;
  }
  .about-us-visuals__item {
    width: 100%;
  }
  .about-us-visuals__item:nth-of-type(2) {
    height: 75%;
  }
  .about-us-visuals-stats {
    bottom: -20px;
    width: 300px;
    padding: 40px 0;
  }
  .about-us-visuals-stats__stat {
    font-size: 1.5rem;
  }
  .about-us-visuals-stats__category {
    font-size: 0.9rem;
  }
}
@media (min-width: 828px) {
  .about-us {
    width: 90%;
    max-width: none;
    flex-direction: row;
    align-items: center;
  }
  .about-us-text {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .about-us-visuals {
    height: 350px;
  }
  .about-us-visuals-stats {
    width: 350px;
  }
  .about-us-text {
    gap: 25px;
  }
  .about-us-text__subheading {
    width: 85%;
  }
}
@media (min-width: 1126px) {
  .about-us-visuals {
    height: 350px;
  }
  .about-us-visuals-stats {
    bottom: -10px;
  }
}
@media (min-width: 1200px) {
  .about-us-visuals {
    height: 350px;
  }
  .about-us-visuals__item:nth-of-type(2) {
    height: 79%;
  }
  .about-us-visuals-stats {
    bottom: -25px;
    width: 400px;
  }
  .about-us-visuals-stats__stat {
    font-size: 2rem;
  }
  .about-us-visuals-stats__category {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .about-us-visuals {
    height: 400px;
  }
  .about-us-visuals-stats {
    padding: 50px 0;
  }
}
@media (min-width: 1414px) {
  .about-us-visuals-stats {
    bottom: -30px;
    width: 450px;
  }
}
@media (min-width: 1500px) {
  .about-us-visuals {
    height: 450px;
  }
  .about-us-visuals-stats {
    bottom: -25px;
    width: 500px;
  }
}
@media (min-width: 1600px) {
  .about-us-visuals {
    height: 500px;
  }
  .about-us-visuals__item:nth-of-type(2) {
    height: 80%;
  }
  .about-us-visuals-stats {
    bottom: -25px;
    width: 550px;
  }
  .about-us-visuals-stats__stat {
    font-size: 2.2rem;
  }
  .about-us-visuals-stats__category {
    font-size: 1.2rem;
  }
}
@media (min-width: 1750px) {
  .about-us {
    width: 90%;
  }
  .about-us-visuals {
    height: 600px;
    padding: 0;
  }
  .about-us-visuals__item:nth-of-type(2) {
    height: 84%;
  }
  .about-us-visuals-stats {
    bottom: -40px;
    right: 0;
    width: 600px;
    padding: 60px 0;
  }
}
.services {
  width: 90%;
  max-width: 288px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.services-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  gap: 10px;
}
.services-text-section-name {
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
}
@media (min-width: 1024px) {
  .services-text-section-name {
    font-size: 1rem;
  }
}
@media (min-width: 1500px) {
  .services-text-section-name {
    font-size: 1.2rem;
  }
}

.services-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 20px;
  width: 100%;
}
.services-container__item {
  height: 370px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.services-container__item:nth-of-type(1) {
  background-image: url("/assets/images/interior-design.jpg");
}
.services-container__item:nth-of-type(2) {
  background-image: url("/assets/images/architecture.jpg");
}
.services-container__item:nth-of-type(3) {
  background-image: url("/assets/images/furntiure-design.jpg");
}
.services-container__text {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

@media (min-width: 375px) {
  .services {
    max-width: 338px;
  }
}
@media (min-width: 500px) {
  .services {
    max-width: 450px;
  }
  .services-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .services-container__item {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 828px) {
  .services {
    max-width: none;
  }
  .services-text {
    margin: 60px 0 0 0;
  }
  .services-container {
    gap: 8px;
  }
}
@media (min-width: 1024px) {
  .services {
    justify-items: flex-start;
  }
  .services-container {
    justify-content: auto;
  }
  .services-container__item {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .services-container__item {
    height: 500px;
  }
}
@media (min-width: 1500px) {
  .services-container__item {
    height: 650px;
  }
  .services-container__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 1750px) {
  .services-container__item {
    height: 700px;
  }
}
.projects {
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.projects-text {
  width: 90%;
  max-width: 338px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.projects-text-section-name {
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
}
@media (min-width: 1024px) {
  .projects-text-section-name {
    font-size: 1rem;
  }
}
@media (min-width: 1500px) {
  .projects-text-section-name {
    font-size: 1.2rem;
  }
}

.projects-showcase {
  position: relative;
  margin: 0 auto;
}
.projects-showcase__image {
  min-height: 250px;
  width: 100vw;
  max-width: 450px;
  object-fit: cover;
}
.projects-showcase__info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  max-width: 200px;
  font-family: "Inconsolata", monospace;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects-showcase__name {
  font-size: 0.8rem;
}
.projects-showcase__description {
  font-size: 0.7rem;
  font-weight: 300;
}

@media (min-width: 500px) {
  .projects-text {
    max-width: 450px;
  }
  .projects-showcase__image {
    width: 90vw;
  }
}
@media (min-width: 828px) {
  .projects-text {
    max-width: none;
  }
  .projects-showcase__image {
    max-width: none;
  }
}
@media (min-width: 1024px) {
  .projects-showcase__info {
    bottom: 35px;
    left: 35px;
    gap: 20px;
  }
  .projects-showcase__name {
    font-size: 1.2rem;
  }
  .projects-showcase__description {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .projects-showcase__info {
    max-width: 250px;
  }
  .projects-showcase__name {
    font-size: 1.4rem;
  }
  .projects-showcase__description {
    font-size: 1rem;
  }
}
.testimonial {
  width: 90%;
  max-width: 288px;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.testimonial-card {
  border-radius: 10px;
  padding: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.testimonial-card__user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.testimonial-card__pic {
  border-radius: 100%;
}
.testimonial-card__vocation {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.testimonial-card__name {
  font-weight: bolder;
}
.testimonial-card__company {
  font-size: 0.7rem;
  font-weight: 600;
}
.testimonial-card__testimony {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Inconsolata", monospace;
  line-height: 20px;
}
.testimonial-card:nth-of-type(2), .testimonial-card:nth-of-type(3) {
  display: none;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.testimonial-text-section-name {
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
}
@media (min-width: 1024px) {
  .testimonial-text-section-name {
    font-size: 1rem;
  }
}
@media (min-width: 1500px) {
  .testimonial-text-section-name {
    font-size: 1.2rem;
  }
}

.testimonial-arrows {
  margin: 0 auto;
  background-color: #f2f2f2;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  height: 40px;
  width: 50px;
}

@media (min-width: 375px) {
  .testimonial {
    max-width: 338px;
  }
}
@media (min-width: 500px) {
  .testimonial {
    max-width: 450px;
  }
}
@media (min-width: 640px) {
  .testimonial-card {
    gap: 30px;
  }
  .testimonial-card__user-info {
    gap: 15px;
  }
  .testimonial-card__pic {
    width: 70px;
  }
  .testimonial-card__name {
    font-size: 1.2rem;
  }
  .testimonial-card__company {
    font-size: 0.9rem;
  }
  .testimonial-card__testimony {
    font-size: 1rem;
    line-height: 25px;
  }
}
@media (min-width: 828px) {
  .testimonial {
    max-width: none;
  }
  .testimonial-flex__track {
    display: flex;
    gap: 10px;
  }
  .testimonial-card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .testimonial-card:nth-of-type(2), .testimonial-card:nth-of-type(3) {
    display: flex;
  }
  .testimonial-card__pic {
    width: 50px;
  }
  .testimonial-card__name {
    font-size: 0.9rem;
  }
  .testimonial-card__company {
    font-size: 0.7rem;
  }
  .testimonial-card__testimony {
    font-size: 0.7rem;
    line-height: 17px;
  }
  .testimonial-arrows {
    display: none;
  }
}
@media (min-width: 1024px) {
  .testimonial-flex__track {
    gap: 30px;
  }
  .testimonial-card {
    padding: 30px 30px;
  }
}
@media (min-width: 1200px) {
  .testimonial-card {
    gap: 30px;
  }
  .testimonial-card__user-info {
    gap: 15px;
  }
  .testimonial-card__pic {
    width: 60px;
  }
  .testimonial-card__name {
    font-size: 1.1rem;
  }
  .testimonial-card__company {
    font-size: 0.8rem;
  }
  .testimonial-card__testimony {
    font-size: 0.9rem;
    line-height: 25px;
  }
}
@media (min-width: 1600px) {
  .testimonial-card {
    gap: 30px;
  }
  .testimonial-card__user-info {
    gap: 15px;
  }
  .testimonial-card__pic {
    width: 70px;
  }
  .testimonial-card__name {
    font-size: 1.2rem;
  }
  .testimonial-card__company {
    font-size: 0.9rem;
  }
  .testimonial-card__testimony {
    font-size: 1rem;
    line-height: 30px;
  }
}
.consultation {
  padding: 20px;
  margin-top: 50px;
  background-image: url("/assets/images/consultation-bg.jpg");
  background-size: 150%;
  background-position: left top;
  background-repeat: no-repeat;
}

.consultation-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  max-width: 280px;
}

@media (min-width: 408px) {
  .consultation {
    background-position: top;
  }
}
@media (min-width: 500px) {
  .consultation {
    background-size: cover;
    background-position: 0 -100px;
  }
}
@media (min-width: 828px) {
  .consultation-text {
    width: 90%;
    margin-left: 3%;
  }
}
@media (min-width: 1024px) {
  .consultation {
    height: 260px;
    padding: 50px 20px;
  }
  .consultation-text {
    max-width: 400px;
  }
}
@media (min-width: 1280px) {
  .consultation {
    background-position: 0 -200px;
  }
  .consultation-text {
    max-width: 400px;
  }
}
@media (min-width: 1414px) {
  .consultation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .consultation::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
  }
  .consultation * {
    z-index: 2;
  }
  .consultation-text {
    align-items: center;
    max-width: none;
    text-align: center;
    margin: 0;
  }
  .consultation-text__subheading, .consultation-text__description {
    color: white;
  }
}
@media (min-width: 1500px) {
  .consultation {
    height: 350px;
  }
}
@media (min-width: 1750px) {
  .consultation {
    height: 400px;
  }
}
.blog {
  margin: 50px auto 0 auto;
  width: 90%;
  max-width: 450px;
}

.blog-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.blog-text-section-name {
  font-family: "Raleway", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
}
@media (min-width: 1024px) {
  .blog-text-section-name {
    font-size: 1rem;
  }
}
@media (min-width: 1500px) {
  .blog-text-section-name {
    font-size: 1.2rem;
  }
}

.blog-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.blog-card__header {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-card__caption {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}
.blog-card__summary {
  margin-top: 10px;
}

@media (min-width: 828px) {
  .blog {
    max-width: none;
  }
  .blog-cards {
    flex-direction: row;
  }
}
@media (min-width: 1126px) {
  .blog-card__header {
    font-size: 1.7rem;
  }
}
@media (min-width: 1500px) {
  .blog-card__caption {
    font-size: 1rem;
  }
  .blog-card__body {
    margin-top: 20px;
  }
  .blog-card__summary {
    font-size: 1rem;
    line-height: 25px;
    margin-top: 20px;
  }
}
@media (min-width: 1600px) {
  .blog-card__header {
    font-size: 1.8rem;
  }
}
.footer {
  background-color: #f2f2f2;
  padding: 40px 0;
  margin-top: 50px;
}
.footer__inner {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

.footer-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-details__text {
  font-family: "Inconsolata", monospace;
  font-size: 0.8rem;
}

.footer-updates-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-updates-signup__heading {
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.footer-updates-signup__form {
  display: flex;
}
.footer-updates-signup__input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-family: "Inconsolata", monospace;
  width: 65%;
}
.footer-updates-signup__btn {
  border: none;
  padding: 10px 25px;
  background-color: black;
  color: white;
  font-size: 0.6rem;
}

.footer-links__list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-links__heading {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.footer-links__anchor {
  font-size: 0.9rem;
}

@media (min-width: 500px) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 60px 40px;
  }
  .footer-updates-signup {
    align-self: center;
    justify-self: center;
  }
}
@media (min-width: 768px) {
  .footer__inner {
    max-width: 690px;
  }
}
@media (min-width: 828px) {
  .footer {
    padding: 30px 0;
  }
  .footer__inner {
    grid-template-columns: repeat(4, 1fr);
    max-width: none;
  }
  .footer-updates-signup {
    align-self: auto;
    order: 4;
  }
}
@media (min-width: 1024px) {
  .footer-details__logo {
    width: 120px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 80px 0;
  }
  .footer__inner {
    gap: 0;
  }
  .footer-details__logo {
    width: 130px;
  }
  .footer-details__text {
    font-size: 1rem;
  }
  .footer-links__list {
    gap: 11px;
    margin-top: 20px;
  }
  .footer-links__heading {
    font-size: 1.2rem;
  }
  .footer-links__anchor {
    font-size: 1.1rem;
  }
  .footer-updates-signup {
    gap: 15px;
  }
  .footer-updates-signup__heading {
    font-size: 1rem;
  }
  .footer-updates-signup__input {
    font-size: 0.9rem;
  }
}
@media (min-width: 1500px) {
  .footer {
    margin-top: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
