// VARIABLES
$raleWay: "Raleway", sans-serif;
$inconsolata: "Inconsolata", monospace;

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// --------------- HEADER ---------------
.header {
  padding: 15px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
}

.header-navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  &__anchor,
  &-btn {
    font-family: $inconsolata;
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
  }

  &-btn {
    border: 2px solid;
    padding: 8px 20px;
  }
}

.header-burger-menu,
.header-logo {
  position: relative;
  z-index: 1;
}

@media (min-width: 640px) {
  .header-navigation {
    width: 50%;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.193);
  }
}

@media (min-width: 828px) {
  .header-navigation {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 30px 0;
  }

  .header-burger-menu {
    display: none;
  }

  .header-navigation {
    position: static;
    top: auto;
    left: auto;
    height: auto;
    width: 100%;
    background-color: transparent;
    flex-direction: row;
    gap: 0;
    box-shadow: none;
    transform: none;

    &__list {
      flex-direction: row;
      align-items: center;
      gap: 30px;
      margin-left: auto;
    }

    &__anchor {
      font-family: $inconsolata;
      font-weight: bold;
      color: black;
      font-size: 1rem;

      &:hover {
        border-bottom: 3px solid black;
      }
    }

    &-btn {
      margin-left: auto;
      font-size: 1rem;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

@media (min-width: 1200px) {
  .header-navigation__list {
    gap: 40px;
  }
}

@media (min-width: 1500px) {
  .header-navigation__list {
    gap: 50px;
  }

  .header-navigation__anchor {
    font-size: 1.2rem;
  }

  .header-navigation-btn {
    font-size: 1.2rem;
  }

  .header-logo {
    width: 80px;
  }
}

// --------------- HOME SECTION ---------------
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.home-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  &__heading {
    font-family: $raleWay;
    font-size: 1.75rem;
  }

  &__headline {
    font-family: $inconsolata;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 15px;
    width: 95%;
  }

  &__btn {
    font-family: $inconsolata;
    font-weight: bold;
    color: white;
    font-size: 0.7rem;
    background-color: black;
    border: 1px solid;
    padding: 7px 15px;
  }
}

@media (min-width: 640px) {
  .home-text {
    gap: 20px;
    max-width: 576px;
  }

  .home-text__heading {
    font-size: 2.5rem;
  }

  .home-text__headline {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .home-text__btn {
    font-size: 0.9rem;
  }

  .home-image {
    max-width: 640px;
  }
}

@media (min-width: 828px) {
  .home-text {
    max-width: none;
    transform: translateX(-10px);
    opacity: 0;
    animation: enter-from-left 0.5s ease-in-out forwards;

    &__heading {
      font-size: 2rem;
    }

    &__headline {
      width: auto;
      font-size: 0.75rem;
      line-height: 18px;
    }
  }

  @keyframes enter-from-left {
    from {
      transform: translateX(-10px);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .home {
    flex-direction: row;
    width: 95%;
    margin: 50px 0 0 auto;
  }

  .home-image {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .home-image {
    max-width: 550px;
  }

  .home-text {
    gap: 30px;
  }

  .home-text__heading {
    font-size: 2.3rem;
  }

  .home-text__headline {
    font-size: 0.75rem;
    width: 85%;
  }

  .home-text__btn {
    font-size: 0.8rem;
    padding: 10px 20px;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

@media (min-width: 1200px) {
  .home {
    width: 93%;
  }

  .home-image {
    max-width: 640px;
  }

  .home-text__heading {
    font-size: 2.55rem;
  }

  .home-text__headline {
    font-size: 0.8rem;
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .home-image {
    max-width: 680px;
  }

  .home-text__heading {
    font-size: 2.8rem;
  }

  .home-text__headline {
    font-size: 0.9rem;
    width: 80%;
  }

  .home-text__btn {
    font-size: 1rem;
  }
}

@media (min-width: 1600px) {
  .home {
    width: 95%;
  }

  .home-text {
    width: 75%;

    &__heading {
      font-size: 3.5rem;
    }

    &__headline {
      font-size: 1rem;
      line-height: 20px;
    }
  }

  .home-image {
    max-width: 1200px;
  }
}

// --------------- SPONSORS SECTION ---------------
.sponsors {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sponsors-heading {
  font-family: $raleWay;
  font-size: 1.2rem;
}

.sponsors-slider {
  width: 100%;
  overflow-x: hidden;
}

.sponsors-slider__track {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  animation: infinite-scroll-1 5s infinite linear;
}

@keyframes infinite-scroll-1 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-660px);
  }
}

.sponsors-slider__image {
  height: 80px;
  width: 100px;
  border: 1px solid;
}

@media (min-width: 828px) {
  .sponsors {
    flex-direction: row;
    width: 95%;
    margin-left: auto;
    margin-top: 100px;
  }

  .sponsors-slider__track {
    gap: 50px;
    animation: infinite-scroll-2 5s infinite linear;
  }

  @keyframes infinite-scroll-2 {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-900.125px);
    }
  }
}

@media (min-width: 1126px) {
  .sponsors-slider__image {
    width: 200px;
  }

  .sponsors-slider__track {
    animation: infinite-scroll-3 10s infinite linear;
  }

  @keyframes infinite-scroll-3 {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-1500.125px);
    }
  }
}

@media (min-width: 1280px) {
  .sponsors-heading {
    font-size: 1.5rem;
  }
}

@media (min-width: 1600px) {
  .sponsors-heading {
    font-size: 1.8rem;
  }
}
